body{
    background-color: black;
}
.main{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
#firstCanvas{
    background: #6351f6;
    border: 3px solid #060000;
    border-radius: 2px;
}
p {
    color: white;
    text-align: center;
    font-size: 58px;
    letter-spacing: 5px;
    margin-bottom: 9px;
}

.tag{
    font-size: 17px;
    letter-spacing: 2px;
}